In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Workspace/Comento_Data_Analyst/4th_data.csv')

In [3]:
data[data['taskID'] == 'InformClientWrongPlace']

,caseID,taskID,originator,eventtype,timestamp,contact,RepairType,objectKey,RepairInternally,EstimatedRepairTime,RepairCode,RepairOK
72,6,InformClientWrongPlace,Monica,complete,1970-01-03 02:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,7,InformClientWrongPlace,Monica,complete,1970-01-07 09:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,13,InformClientWrongPlace,Monica,complete,1970-01-02 12:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,40,InformClientWrongPlace,Monica,complete,1970-01-06 05:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809,61,InformClientWrongPlace,Monica,complete,1970-01-06 12:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11492,871,InformClientWrongPlace,Monica,complete,1970-01-01 21:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11650,883,InformClientWrongPlace,Monica,complete,1970-01-06 00:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12132,918,InformClientWrongPlace,Monica,complete,1970-01-07 20:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12454,942,InformClientWrongPlace,Monica,complete,1970-01-07 13:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12785,966,InformClientWrongPlace,Dian,complete,1970-01-06 02:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data[data['RepairType'] == 'B']

,caseID,taskID,originator,eventtype,timestamp,contact,RepairType,objectKey,RepairInternally,EstimatedRepairTime,RepairCode,RepairOK
194,17,MakeTicket,Dian,complete,1970-01-03 22:30,NaN,B,659.0,NaN,NaN,NaN,NaN
277,23,MakeTicket,Monica,complete,1970-01-03 10:53,NaN,B,9334.0,NaN,NaN,NaN,NaN
581,45,MakeTicket,Monica,complete,1970-01-04 14:25,NaN,B,2808.0,NaN,NaN,NaN,NaN
725,55,MakeTicket,Dian,complete,1970-01-04 07:27,NaN,B,6197.0,NaN,NaN,NaN,NaN
812,62,MakeTicket,Monica,complete,1970-01-07 18:10,NaN,B,1442.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12914,976,MakeTicket,Dian,complete,1970-01-06 04:10,NaN,B,2788.0,NaN,NaN,NaN,NaN
12942,978,MakeTicket,Monica,complete,1970-01-07 02:09,NaN,B,4820.0,NaN,NaN,NaN,NaN
13013,983,MakeTicket,Dian,complete,1970-01-05 00:07,NaN,B,513.0,NaN,NaN,NaN,NaN
13140,992,MakeTicket,Dian,complete,1970-01-03 03:38,NaN,B,5896.0,NaN,NaN,NaN,NaN
13237,999,MakeTicket,Monica,complete,1970-01-07 04:48,NaN,B,3598.0,NaN,NaN,NaN,NaN